@charset "utf-8";
/*全局样式*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{padding: 0;margin: 0;}
/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
html,body{position:relative;font-size: 14px;font-weight: normal;color: #666;font-family:'Microsoft YaHei', '微软雅黑', helvetica, arial, sans-serif;}
a,a:visited,a:hover,a:link{text-decoration: none; color: #666;} 
ul li,ol li{list-style: none;}{list-style: none;}
img{border: 0;}
em{font-style: normal;}

/*头部导航*/
.m-nav{border: 0;}
.m-nav .logo{float: left;margin: 10px 20px;}

.container>.row{padding-top:73px;min-height:100%;}
.m-container{width: 100%; max-width: 1450px; margin: 0 auto;}
.m-container .aside{padding: 5px;}
.m-container .aside .nav{border: 0;}
.m-container .aside .nav li>a{border-width:0; border-radius:4px; color: #2fa1fd;}
.m-container .aside .nav li.active>a{background-color: #2fa1fd; color: #FFF;}
.m-container .aside .nav li>a:hover{border-bottom-color: transparent;}

/*首页*/

.m-container .content .breadcrumb{margin: 0;}
.m-container .content .mag{margin: 12px 0;}
.m-container .content .mag span{margin-right: 10px;}
.m-container .content .mag span em{margin:0 3px;}
.m-container .content .nav li a{color: #237ac0;}
.m-container .content .nav li.active a{color: #333; font-size: 15px;}
.m-container .content .bootstrap-table .btn{height: 34px; line-height: 34px; padding: 0 12px;}
.m-container .pileslist .table th{font-size: 14px; color:#FFF; background-color:#2fa1fd; }
.m-container .pileslist .table td{font-size: 14px; border-color: #dfe1e2;}
.m-container .pileslist .table th .sortable{height: 35px;line-height: 35; padding: 8px; background-image: none;}

/* 页脚去圆角 */
#footer{height : 50px;bottom: -30px;width: 100%;background: #F5F5F5;clear:both;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
/*控制菜单箭头*/
.nav-header.collapsed > span.glyphicon-chevron-toggle:before { 
	content: "\e114";
	}
/*  二级菜单 选中样式 */
.nav-header > span.glyphicon-chevron-toggle:before {
    content: "\e113";
}
.secondmenu a {
  font-size: 12px;
  color: #4A515B;
  text-align: center;
}

.secondmenu li.active {
  background-color: #eee;
  border-color: #428bca;
}
.ac-monitor .panel-body .list-group:hover li{
	-webkit-transform: scale(1.05);
  	-moz-transform: scale(1.05);
  	-o-transform: scale(1.05);
  	-moz-box-shadow:1px 5px 7px rgba(0,0,0,.7);
  	-webkit-box-shadow: 1px 5px 7px rgba(0,0,0,.7);
  	box-shadow:1px 5px 7px rgba(0,0,0,.7);
}
.t-blue{color: #237ac0;}
.t-green{color:#08a904; }
.t-red{color: #fb0f03;}